.company-wrapper{
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
}
.company-content .widget-dashboard  {
    overflow: hidden;
    height: 100%;
    margin-bottom: 20px;
}
.company-wrapper .company-content {
    padding: 30px 0;
}

.badge.btn-dot{
    font-size: 15px;
}
.btn-veiw-profile{
    font-size: 13px !important;
    color: var(--bs-primary);
    text-decoration: underline;
}

#company-default-nav {
    background-color: white;
    border: 1px solid #e6e6e7;
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    z-index: 8;
}
#company-default-nav .nav-item {
    margin: 0 2px;
}

#company-default-nav .nav-item a{
    font-size: 17px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

#company-default-nav .nav-item:hover {
    border-bottom: 3px  solid var(--bs-primary); 
}

#company-default-nav .nav-item.active a {
    color: var(--bs-primary);
    border-bottom: 3px  solid var(--bs-primary);
}


.head {
    padding: 20px ;
    background-color: var(--bs-primary);
}

.head .title-dashboard {
    font-size: 20px;
    text-align: center;
    color: white;
    
}
.company-account-information {
    list-style-type: none;
    padding: 10px;
}
.company-account-information li {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 20px;
}
.company-account-information li p {
    margin-right: 10px;
    font-size: 18px;
    color: var(--bs-primary);
}

.company-account-information li a {
    font-size: 18px;
    color: var(--text-main);
}
.custom-control {
    margin: 0 10px ;
}

@media only screen and (max-width: 767px) {
    #company-default-nav {
        display: none;
    }
    .company-wrapper {
        top: 0;
    }
    .company-wrapper .company-content {
        padding: 10px 5px;
    }
    .company-content .widget-dashboard {
        height: unset;
    }
    .filter-job .form-group {
        margin-bottom:10px;
    }
    .filter-job .form-group button.btn.btn-primary {
        width: 100% !important;
    }
    .row.filter-job {
        margin: 10px 0;
    }

    a.px-auto.btn.btn-outline-primary{
        width: 40% !important;
        margin: 4px;
    }

}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    #company-default-nav {
        display: none;
    }
    .company-wrapper {
        top: 0;
    }
    .company-wrapper .company-content {
        padding: 20px 10px;
    }
    .company-content .widget-dashboard {
        height: unset;
    }
    a.px-auto.btn.btn-outline-primary {
        width:23% !important;
    }
 
}

@media only screen and (min-width: 992px) { 
    
}
  
  
