/************************************************
           == Loginbox css==
*************************************************/
.login-form {
	padding: 50px 0;

}



.userloginbox {
	background: url(../images/login-bg.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	padding: 40px 0 120px 0;
	text-align: center;
}

.userloginbox .viewallbtn {
	margin-top: 30px;
}

.userloginbox .viewallbtn a {
	background: #a84040;
}

.userloginbox .viewallbtn a:hover {
	background: #333;
}

.userloginbox p {
	max-width: 770px;
	margin: 0 auto;
}


.emploginbox {
	background: url(../images/login-bg2.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	padding: 50px 0;
	text-align: center;
}

.emploginbox .viewallbtn {
	margin-top: 30px;
}

.emploginbox .viewallbtn a {
	background: #a84040;
}

.emploginbox .viewallbtn a:hover {
	background: #fff;
	color: #a84040
}

.emploginbox p {
	max-width: 770px;
	margin: 0 auto;
}




.userccount-register {
    border: 1px solid #cccc;
    padding: 33px;
    border-radius: 10px;
    background-color: white;
}

