@media (max-width:576px) {
  .show-sm {
    display: none;
  }

  .btn {
    width: 100%;
  }

  .nav-link {
    padding: 0px;
  }

  .job-detail-banner .job-detail-banner__actions {
    flex-direction: column !important;
  }
}

@media (max-width:710px) {
  .job-detail-content .share-detail {
    flex-direction: column;
  }

  .blogs-slider .__row {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 768px) and (max-width: 1024px){
  .section-search-seekers .form-search-seekers {
    flex-direction: column;
    gap: 16px;
  }

  .section-search-seekers .form-search-seekers div {
    width: 100% !important;
    max-width: none !important;
  }

  .partner .partner-item__img img {
    object-fit: none;
  }

  .recruitment-news .r-news__pagging {
    flex-direction: column;
  }

  footer .mb-40px {
    margin-bottom: unset;
  }

  .about-us .about-us-bg {
    background-size: 160%;
  }

  .job-detail-banner {
    flex-direction: column;
  }

  /* for full calendar */
  .fc-dayGridMonth-view .fc-body .fc-row {
    min-height: 70px !important;
    height: 70px !important;
  }

  .fc-day-grid-event .fc-time,
  .fc-day-grid-event .fc-title {
    display: none;
  }

  .fc-more-cell div {
    margin-top: 10px;
  }
  .tab.tab-nav {
    overflow: auto;
    white-space: nowrap;
    padding: 0 10px;
  }
 


}

@media (max-width:830px) {
  .header-bar .header-bar__title {
    width: unset;
  }


}

@media (min-width:576px) and (max-width: 970px) {
  .blogs-slider .__row .card-list {
    width: 100%;
    overflow: hidden;
  }
  
}

@media (min-width:360px) and (max-width: 992px) {
  .container {
    padding: 0 12px;
  }

  .about-us,
  .about-us .about-us-bg {
    aspect-ratio: 400/225;
    height: auto;
    min-height: 500px;
  }

  .step-bar .step-item {
    flex-direction: column;
    align-items: center;
  }
  
  
}

@media (max-width:992px) {
  .d-md-none {
    display: block !important;
    height: 54px;
  }

  .navbar .navbar-brand {
    width: 120px !important;
    height: 54px !important;
    overflow: unset;
  }

  .navbar .navbar-brand img {
    height: 48px !important;
    width: initial;
  }

  .job-detail-banner .job-detail-banner__group {
    flex-direction: column;
  }

  .job-detail-banner .job-detail-banner__actions {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}

@media (min-width:360px) {
  .navbar .navbar-brand {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
  }

  .navbar .navbar-brand img {
    height: 32px;
    width: initial;
  }

  .about-us {
    position: relative;
    width: 100%;
    /* height: fit-content; */
  }

  .about-us::before {
    width: 100%;
    height: auto;
    min-height: 500px;
    aspect-ratio: 400/225;
    background-color: rgba(136, 2, 5, .6);
  }

  /* .about-us .about-us-bg{
    background-position-x: 0;
    background-position-y: 0;
  } */
  .about-us .content {
    width: 100%;
    margin-left: unset;
    padding: 16px;
  }
  .partner-item__box {
    margin: 0;
    width: 100%;
  }
}

@media (min-width:576px) {
  .container {
    width: 100%;
    max-width: none;
  }

  .content {
    padding-left: 8px;
    padding-right: 8px;
  }

  

  .navbar .navbar-brand {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
  }

  .navbar .navbar-brand img {
    height: 32px;
    width: initial;
  }

  .about-us::before {
    min-height: 416px;
    height: 100%;
  }

  .about-us .content {
    padding: 40px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }

  .content {
    padding-left: 24px;
    padding-right: 24px;
  }


  .about-us,
  .about-us::before {
    aspect-ratio: unset;
  }

  .about-us::before {
    width: 60%;
    height: inherit;
    background-color: rgba(136, 2, 5, .9);
  }

  .about-us .content {
    width: 60%;
    margin-left: 40%;
    padding-top: 44px;
    padding-left: 40px;
  }

  .about-us .about-us-bg {
    background-position-x: -60px;
    background-position-y: 0;
  }

  .blogs-slider::after {
    width: 50%;
  }

  .blogs-slider .__row .card-list {
    width: 930px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }

  .container.nav {
    max-width: 95%;
  }

  .content {
    padding-left: 80px;
    padding-right: 80px;
  }

  .navbar .navbar-brand {
    overflow: unset;
  }

  .navbar .navbar-brand img {
    height: 32px;
    width: initial;
  }

  .related-jobs .related-jobs__jobs {
    flex-direction: row;
  }

  .about-us .about-us-bg {
    background-position-x: -72px;
    background-position-y: -72px;
  }
}

@media (min-width:1440px) {
  .container {
    max-width: 1320px;
  }

  .content {
    padding-left: 135px;
    padding-right: 135px;
  }

  .navbar .navbar-brand {
    width: 130px;
    height: 53px;
    overflow: hidden;
  }

  .navbar .navbar-brand img {
    width: 130px;
    height: 53px;
  }

  .header-bar .header-bar-recruiter {
    right: 250px;
  }

  .about-us::before {
    width: 48%;
  }

  .about-us .content {
    width: 50%;
    margin-left: 50%;
    padding-top: 64px;
    padding-left: 96px;
  }

  .blogs-slider::after {
    width: 63%;
  }

  .blogs-slider .__row {
    flex-direction: row;
  }

  .related-jobs .related-jobs__jobs {
    flex-direction: column;
  }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 820px) {
  .header-bar{
    margin-bottom: 0;
    position: relative;
  }
  .header-bar .header-bar-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    width: 100%;
  }
  .header-bar .header-bar-content-search {
    position: absolute;
    top: 400px;
    left: 0;
    height: 100%;
  }

  .form-group-search-box.active{
    max-width: unset;
    height: 100%;
  
  }
  .header-bar .search-form .action-search-form{
    position: unset;
    max-width: unset;
  }
  .advance-search {
    display: flex;
    padding: 10px 16px;
  }
  .advance-search__reset, .advance-search__box{
    padding: 0;
    margin: 0;
    width: 50%;
  }
  .form-group-search-box.active{
    max-height: 230px;
  }
  .search-form-box{
    box-shadow: none !important;
  }

  .partner {
    margin-top: 20px;
  }


}



/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 820px) and (max-width: 992px) {
 
  .header-bar {
    height: 500px;
  }
  .header-bar .header-bar-content-search {
    height: 500px;
    position: absolute;
    top: 550px;
    left: 0;
    width:100%;
    box-shadow: unset !important;
  }
  .header-bar .search-form{
    padding: 0;
  }
  .form-group-search-box{
    max-height:220px;
  }
  .partner {
    margin-top: 600px;
  }
.search-form-box{
  width: 100%;
}
  .search-form-box .col-sm-6{
    width: 100%;
  }
  .header-bar .search-form .action-search-form{
    max-width: unset;
    position:unset;
  }
  .form-group-search-box{
    margin-bottom: 10px ;
  }
  .advance-search{
    display: flex;
    flex-direction: row;
  }
  .advance-search__box ,.advance-search__reset {
    width: 50%;
  }
  .form-group-search-box.active{
    max-height: 250px;
  }
  .advance-search__box {
    display: none;
  }
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


